body{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #07000d;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    color: #ffffffe0;
    font-size: 120%;
}

h1.heading{
    text-align: center;
    padding: 20px;
}

img.logo{
    padding: 20px;
    height: 60px;
    width: 40px;
}

#transfer{
    text-align: center;
}

img.transfer{
    width: 800px;
    padding: 40px;
}

.input{
    text-align: center;
    padding: 20px;
}

input{
    margin-right: 10%;
    margin-left: 2%;
    border-radius: 10%;
}

button.button{
    padding: 0.5%;
    font-size: 90%;
    background-color: rgb(56, 56, 224);
    color: #ffffffe0;
    border-radius: 10%;
    cursor:pointer;
}

button.balance{
    padding: 0.5%;
    font-size: 90%;
    background-color: rgb(56, 56, 224);
    color: #ffffffe0;
    border-radius: 10%;
    cursor:pointer;
}

.balance{
    text-align: center;
    padding: 10px;
}

h3.balance{
    text-align: center;
    padding: 10px;
}

.mint{
   margin-left: 250px;
}

button.mint{
    padding: 0.5%;
    font-size: 90%;
    background-color: rgb(56, 56, 224);
    color: #ffffffe0;
    border-radius: 10%;
    cursor:pointer;
}